<form method="post" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm(' Êtes-vous sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-danger btn-sm pull-right ">Supprimer</button>
</form>