{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>Edit Task</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('task_index') }}">Retour à la liste des tâches</a>

{% endblock %}
